/*********** Degrade e transparencias***********/
/*#caixa {
	width: 300px;
	height: 300px;
	background: #b9c941;
	padding: 50px;
	box-sizing: border-box;
	/*border-radius: 10px 50px 80px 100px;
	-webkit-border-radius: 10px 50px 80px 100px;
	-moz-border-radius: 10px 50px 80px 100px;
}

#caixa2 {
	width: 300px;
	height: 300px;
	background: #b9c941;
}

#caixa {
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");
	background: linear-gradient(96deg, #CCC, green);
	background: radial-gradient(red, green);
}

#caixa h1 {
	/*background: rgb(2555, 255, 255, 0.5);
}

<!-- Sombras -->
#caixa {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 20px 2px 10px rgba(0, 0, 0, 0.2);
}

#caixa h1 {
	color: white;
	/*text-shadow: 20px 20px black;
	text-shadow: 20px 20px 3px rgba(0, 0, 0, 0.6);
}*/

/*********** Animacoes ***********
@keyframes animacao-caixa {
	0% { /*Estado inicial
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	50% { /*Estado final
		background: yellow;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}

	100% { /*Estado final
		background: yellow;
		border-radius: 300px;
		top: 0px;
		left: 400px;
	}
}

#caixa {
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-delay: 1s; 
	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-timing-function: linear;
} */
/*********** Transicoes ***********/
#caixa {
	width: 300px;
	height: 300px;
	background: orange;
}

#caixa:hover {
	width: 400px;
	background: yellow;
	/*-webkit-transition: width 3s, background 3s;
	-moz-transition: width 3s, background 3s;
	-o-transition: width 3s, background 3s;
	transition: width 3s, background 3s;*/
	transition: all 3s;
}
