/*
 * RESET CSS
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    all: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/*
 * Variables
 */

 :root {
   --color-1: #FFD8BE;
   --color-2: #FFEEDD;
   --color-3: #F8F7FF;
   --color-4: #B8B8FF;
   --color-5: #9381FF;

   --color-black: #222222;
   --color-white: #ffffff;
 }

/*
 * Portfolio
 */

* {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
}

body {
  background-color: var(--color-3);
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 1200px;
  max-width: calc(100% - 2rem);
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-2);
  border-radius: 5px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.nav__item {
  background-color: var(--color-5);
}

.nav__figure {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.nav__img {
  transition: all 200ms;
}

.nav__img:hover {
  transform: scale(1.1) rotate(-2deg);
}

.nav__legend {
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  color: var(--color-white);
}